ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: black;
    width: 100%;
}

li {
    float: left;
}

li a:hover, .dropdown:hover .dropbth {
    background-color: red;
}

li a, .dropbth{
    float: left;
    text-align: center;
    text-decoration: none;
    border-right: 1px solid black;
    padding: 10px 15px;
    color: white;
    display: inline-block;
}

li.dropdown {
    display: inline-block;
}

.drop-content{
    display: none;
    position: absolute;
    background-color: white;
    text-decoration: none;
    min-width: 160px;
    box-shadow: 0px, 8px, 16px, 0px, rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.drop-content a{
    color: black;
    display: block;
    padding: 12px, 16px;
    text-decoration: none;
    text-align: left;
}

.dropdown:hover .drop-content {
    display: block;
}
